@charset "UTF-8";

.box.row {
	display: inline-block;
	width: 750px;
	height: 50px;
	background-color: #EEEEEE;
	border: 1px solid #DBDBDB;
	height: 50px;
}

.row.row-2 {
	width: 360px;
}

.box.label {
	width: 80px;
}

label span {
	font-size: 20px;
	font-weight: 550;
	float: right;
}

.box.input {
	width: 600px;
	background-color: #FFFFFF;
	border-radius: 6px;
}

input {
	display: inline-block;
	width: 600px;
	font-size: 15px;
	border: none;
	float: left;
	outline: none;
}

.input.input-2 {
	width: 200px;
	vertical-align: middle;
}

.input-2 input {
	width: 200px;
}